thead > tr > th {
  cursor: pointer;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
}

.left {
  position: absolute;
  left: 0px;
}

.pagination-custom /deep/ .ngx-pagination {
  padding-left: 0px !important;
}

